<div class="complete" ng-init="initialize()">
	<div class="sub-header">
		<ul>
			<li><a href="#!/top">Pornfolioトップ</a></li>
			<li>まとめを作る</li>
		</ul>
	</div>

	<div class="content">
		<div class="inner-content">
			<div class="left-content">
				<h3>作成完了</h3>
				<p>まとめの作成が完了しました！</p>
				<a href="" class="to-created">&raquo; 作ったまとめへ</a>
				<a href="#!/top">&raquo; Pornfolio トップへ</a>
			</div>
			<div class="right-content">
				<div class="side-progress">
					<p>まとめ本文作成</p>
					<p>確認</p>
					<p class="now">作成完了!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-progress">
		<ul>
			<li>まとめ本文制作</li>
			<li>確認</li>
			<li class="now">作成完了!</li>
		</ul>
	</div>
</div>