<div class="policy">
	<div class="sub-header">
		<ul>
			<li><a href="#!/top">Pornfolioトップ</a></li>
			<li>利用規約</li>
		</ul>
	</div>

	<div class="content">
		<p>この利用規約（以下、「本規約」といいます）は、Pornfolioのサービス名称で提供するすべてのウェブサイト、ソフトウェア、アプリケーション、プロダクト、ドキュメントその他一切の製品およびサービス（以下、「本サービス」といいます）の利用条件を定めるものです。本サービスは動画共有サイトからリンクを抽出して掲載しております。</p>
		<h2>第1条（規約への同意）</h2>
		<p>1.	本サービスを利用するすべてのお客様（以下、「利用者」といいます）は、本規約の定めに従って本サービスを利用しなければなりません。利用者は、本規約に有効かつ取消不能な同意をしないかぎり本サービスを利用できません。</p>
		<p>2.	利用者が18歳未満である場合、本サービスを利用することはできません。</p>
		<p>3.	利用者は、本サービスを実際に利用することによって本規約に有効かつ取消不能な同意をしたものとみなされます。</p>
		<h2>第2条（情報の取扱い）</h2>
		<p>1.	利用者は、本サービスの利用に際して利用者ご本人に関する情報を当社に対して提供する場合、真実、正確かつ完全な情報を提供しなければなりません。</p>
		<p>2. 利用者の個人情報の取扱いに関しては、本規約のほか、本サービスのプライバシーポリシーおよびサービス別のプライバシー保護に従います。</p>
		<h2>第3条（禁止事項）</h2>
		<p>利用者は、本サービスの利用に際して、以下に記載することを行なってはならず、また、以下の記載事項を行わないことを保証します。</p>
		<p>(1)	法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反する行為。</p>
		<p>(2)	公の秩序を害するおそれのある行為（過度に暴力的な表現、その他反社会的な内容を含み他人に不快感を与える表現を投稿、掲載、公開、送信する行為などを含みます）。</p>
		<p>(3)	本サービスまたは第三者の権利（著作権、商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上または契約上の権利を広く含みます。）を侵害する行為。</p>
		<p>(4)	本サービスまたは第三者になりすます行為または意図的に虚偽の情報を流布させる行為。</p>
		<p>(5)	本サービスの事前の同意を得ずに営利を目的として本サービスを利用する行為、異性との出会い、交際等を希望することが主な目的と認められる行為、その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為。</p>
		<p>(6)	反社会的勢力に対する利益供与その他の協力行為。</p>
		<p>(7)	宗教活動または宗教団体への勧誘行為。</p>
		<p>(8)	許諾なく第三者の個人情報、登録情報、利用履歴情報などを収集、開示または提供する行為。</p>
		<p>(9)	当社による本サービスの運営または他の利用者による本サービスの利用を妨害し、これらに支障を与える行為。</p>
		<p>(10)	上記（1）から（9）のいずれかに該当する行為を援助または助長する行為。</p>
		<p>(11)	その他、当社が不適当と判断した行為。</p>
		<h2>第4条（コンテンツの取扱い）</h2>
		<p>1.	本規約において、「コンテンツ」とは、文章、音楽、画像、動画、プログラム、コードその他の情報のことをいい、「本コンテンツ」とは、本サービスを通じてアクセスすることができるコンテンツのことをいい、「投稿コンテンツ」とは、利用者が本サービスに投稿、送信、アップロードするなどして当社の管理するサーバーに保存させたコンテンツのことをいい、「公開投稿コンテンツ」とは、本サービスにおいて、他の利用者一般による閲覧またはアクセスが可能な投稿コンテンツのことをいいます。</p>
		<p>2.	利用者は、公開投稿コンテンツを含むすべての投稿コンテンツに対して有する権利を従前どおり保持し、本サービスがかかる権利を取得することはありません。ただし、利用者は、本サービスの利用により、本サービスに対し、公開投稿コンテンツを利用する権利（営利目的の有無を問わず、複製、上演、演奏、上映、公衆送信、公衆伝達、口述、展示、頒布、譲渡、貸与、翻訳、翻案、（本サービスが事業目的上必要とみなす範囲で）改変する権利を含みます。また、これらの権利を第三者に再許諾する権利を含みます）を無償でかつ無期限に、地域の限定なく許諾したこととなり、本サービスはかかる利用権を取得します。この場合、利用者は、公開投稿コンテンツに関する著作者人格権を本サービスまたは本サービスの指定する第三者による上記範囲での利用に対して行使しないことにも同意したこととなります。</p>
		<p>3.	利用者は、本コンテンツを、本サービスが当然に予定している利用態様を超えて利用（複製、送信、転載、改変などの行為を含みます）してはなりません。ただし、本サービスおよび本コンテンツの権利者から事前の承諾を受けた場合はこの限りではありません。</p>
		<p>4.	本サービスは、法令または本規約の遵守状況などを確認する必要がある場合、投稿コンテンツの内容を確認することができます。ただし、本サービスはかかる確認を行なう義務を負うものではありません。</p>
		<p>5.	本サービスは、利用者が投稿コンテンツなどに関し法令もしくは本規約に違反しまたは違反するおそれのあると本サービスが認めた場合、その他業務上の必要性がある場合には、あらかじめ利用者に通知することなく、本サービスの管理するサーバーから投稿コンテンツを削除するなどの方法により、本サービスまたは投稿コンテンツを利用できないようにすることができます。そのため、利用者は常に投稿コンテンツのバックアップを作成しておくことが推奨されます。</p>
		<h2>第5条（本サービスに対する補償）</h2>
		<p>利用者は、利用者が法令または本規約に違反して本サービスを利用したことに起因して（かかる趣旨のクレームを第三者より本サービスが受けた場合を含みます）、当社が直接的もしくは間接的に何らかの損害、損失または費用負担（弁護士費用の負担を含みます）を被った場合、本サービスの請求にしたがって直ちにこれを賠償または補償しなければなりません。</p>
		<h2>第6条（本サービスの提供、無保証、変更、中止）</h2>
		<p>1.	利用者は、本サービスを利用するにあたり、必要なパーソナルコンピュータ、携帯電話機、通信機器、オペレーションシステム、通信手段および電力などを、利用者の費用と責任で用意しなければなりません。</p>
		<p>2.	本サービスは、本サービスに本サービスまたは第三者の広告を掲載することができるものとします。</p>
		<p>3.	本サービスは、本サービスが必要と判断する場合、あらかじめ利用者に通知することなく、いつでも、本サービスの全部または一部の内容を変更し、また、その提供を中止することができるものとします。</p>
		<p>4.	本サービスは、本サービス（本コンテンツを含みます）に事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みますが、これらに限りません）がないことを保証しておりません。本サービスは、利用者に対して、かかる瑕疵を除去して本サービスを提供する義務を負いません。ただし、有償で提供される本サービスに関する当社と利用者との間の契約（本規約を含みます）が消費者契約法に定める消費者契約となる場合、当該本サービスの隠れた瑕疵により利用者に生じた損害を賠償する本サービスの責任の全部を免除するものではありません。この場合の損害の賠償については、第7条第2項を準用します。</p>
		<p>5.	本サービスは、利用者が本規約に違反して本サービスを利用していると認めた場合、本サービスが必要かつ適切と判断する措置を講じます。ただし、本サービスは、利用者および第三者に対して、利用者その他の者が本規約に違反しないことを保証するものではありません。また、本サービスは、利用者および第三者に対して、かかる違反を防止または是正する義務を負いません。</p>
		<h2>第7条（本サービスの責任の免除）</h2>
		<p>1.	本サービスは、本サービスに起因して利用者に生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当社と利用者との間の契約（本規約を含みます）が消費者契約法に定める消費者契約となる場合、本項の免責規定は適用されません。</p>
		<p>2.	前項ただし書に定める場合であっても、本サービス運営者は、本サービス運営者の過失（重過失を除きます。以下、本項において同じ）による債務不履行または不法行為により利用者に生じた損害のうち特別な事情から生じた損害（本サービスまたは利用者が損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また、本サービス運営者の過失による債務不履行または不法行為により利用者に生じた損害の賠償は以下に定める金額を上限とします。</p>
		<p>(1)	有償で提供される本サービスに起因して利用者に生じた損害については、当社が当該利用者から当該損害が発生した月に受領した利用料の額。</p>
		<p>(2)	無償で提供される本サービスに起因して利用者に生じた損害については、当該利用者が当該本サービスの利用に際して当該損害が発生した月に費消した回線費用の額。</p>
		<p>3. 本サービスの投稿コンテンツに含まれる埋め込みやリンクなどは著作権者の同意のもとに掲載されているかを確認しておりません。著作権等の問題がある場合、各サイトへお問い合わせください。また、コンテンツに記載あるいは収載された情報の正確度、有用性、完全性、あるいはそれらの情報を利活用することによって生ずる一切の不利益および損害に対して、本サービスはその責任を負いません。</p>
		<p>第8条（コンテンツ削除、コメント削除等）</p>
		<p>本サービスは、利用者が本規約に違反しまたは違反するおそれがあると認めた場合、あらかじめ利用者に通知することなく、投稿やコンテンツ、コメントなどを削除することができます。</p>
		<h2>第9条（通知または連絡の方法）</h2>
		<p>1.	本サービスに関する本サービス運営者から利用者への通知または連絡は、本サービス運営者が運営するウェブサイト内の適宜の場所への掲示その他、本サービスに適当と判断する方法により行ないます。</p>
		<p>2.	本サービスに関する利用者から本サービス運営者への通知または連絡は、本サービス運営者が運営するウェブサイト内の適宜の場所に設置するお問い合わせフォームの送信または本サービスが指定する方法により行っていただきます。</p>
		<h2>第10条（個別利用規約との関係）</h2>
		<p>1.	本サービスに関して、本規約とは別に「利用規約」、「ガイドライン」、「ポリシー」などの名称で本サービスが配布または掲載している文書（以下、「個別利用規約」といいます）がある場合、利用者は、本規約のほか個別利用規約の定めにも従って本サービスを利用しなければなりません。</p>
		<p>2.	個別利用規約と本規約とで矛盾する内容が規定されている場合、矛盾する箇所に限り、個別利用規約の内容が優先して適用されます。</p>
		<h2>第11条（本規約等の変更）</h2>
		<p>本サービスは、本サービスが必要と判断する場合、あらかじめ利用者に通知することなく、いつでも、本規約および個別利用規約を変更できるものとします。変更後の本規約および個別利用規約は、本サービス運営者が運営するウェブサイト内の適宜の場所に掲示された時点からその効力を生じるものとし、利用者は本規約および個別利用規約の変更後も本サービスを使い続けることにより、変更後の本規約および適用のある個別利用規約に対する有効かつ取消不能な同意をしたものとみなされます。かかる変更の内容を利用者の皆様に個別に通知することはいたしかねますので、本サービスをご利用の際には、随時、最新の本規約および適用のある個別利用規約をご参照ください。</p>
		<h2>第12条（準拠法、裁判管轄）</h2>
		<p>本規約は日本語を正文とし、その準拠法は日本法とします。本サービスに起因または関連して利用者と本サービス運営者との間に生じた紛争については東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とします。かかる管轄裁判所で得られた勝訴判決は、いずれの国の裁判所においても執行可能とします。</p>
		<p class="end">以上</p>
		<p class="end">2014年3月15日 制定</p>
	</div>
</div>