<div class="privacy">
	<div class="sub-header">
		<ul>
			<li><a href="#!/top">Pornfolioトップ</a></li>
			<li>プライバシーポリシー</li>
		</ul>
	</div>

	<div class="content">
		<p>本サービス運営者は、本サービスを利用するお客様（以下、「利用者」といいます）の個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下、「個人情報保護法」といいます）を遵守すると共に、以下のプライバシーポリシー（以下、「本フプライバシーポリシー」といいます）に従い、適切な取扱い及び保護に努めます。</p>
		<h2>1.	個人情報の定義</h2>
		<p>本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報のことをいい、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することかができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます）を意味するものとします。</p>
		<h2>2.	個人情報の利用目的</h2>
		<p>本サービスは、利用者の個人情報を、以下の目的で利用いたします。</p>
		<p>(1)	利用者が本サービスを円滑に利用できるようにするため。</p>
		<p>(2)	本サービス利用に関する統計データを作成するため。</p>
		<p>(3)	現在提供している本サービスまたは今後提供を検討している本サービスに関するアンケート実施のため。</p>
		<p>(4)	利用者からのお問い合わせに対する対応のため。</p>
		<p>(5)	本サービスに関する情報等または当社以外の事業者が広告主となる広告情報等をメールマガジン等により告知するため。</p>
		<p>(6)	今後の本サービスに関する新企画立案を行い提供するため。</p>
		<p>(7)	キャンペーン等の抽選及び賞品や商品発送のため。</p>
		<p>(8)	利用者からのお問い合わせ時など、本人確認を行うため。</p>
		<p>(9)	その他本サービスに関する重要なお知らせなど、必要に応じた連絡を行うため。</p>
		<h2>3.	個人情報利用目的の変更</h2>
		<p>本サービスは、個人情報の利用目的を相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には利用者に通知又は公表します。</p>
		<h2>4.	個人情報利用の制限</h2>
		<p>本サービスは、個人情報保護法その他の法令により許容される場合を除き、利用者の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取り扱いません。但し、次の場合はこの限りではありません。</p>
		<p>(1)	法令に基づく場合。</p>
		<p>(2)	人の生命、身体又は財産の保護のために必要がある場合であって、利用者の同意を得ることが困難であるとき。</p>
		<p>(3)	公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、利用者の同意を得ることが困難であるとき。</p>
		<p>(4)	国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。</p>
		<h2>5.	個人情報の適正な取得</h2>
		<p>本サービスは、適正に個人情報を取得し、偽りその他不正の手段により取得しません。</p>
		<h2>6.	個人情報の安全管理</h2>
		<p>本サービスは、取り扱う個人情報の紛失、破壊、改ざん及び漏洩の防止、その他個人情報の安全管理のために必要かつ適切な措置を講じます。また、本サービスは、個人情報の取扱いの全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるように必要かつ適切な措置を講じます。</p>
		<h2>7.	第三者提供</h2>
		<p>本サービスは、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ利用者の同意を得ないで、個人情報を第三者に提供しません。但し、次に掲げる場合は上記に定める第三者への提供には該当しません。</p>
		<p>(1)	本サービスが利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合。</p>
		<p>(2)	買収その他の事由による事業の承継に伴って個人情報が提供される場合</p>
		<h2>8.	個人情報の開示</h2>
		<p>本サービスは、利用者から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、利用者ご本人からのご請求であることを確認の上で、利用者に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。</p>
		<h2>9.	個人情報の訂正等</h2>
		<p>本サービスは、利用者から、個人情報が真実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下、「訂正等」といいます）を求められた場合には、利用者ご本人からのご請求であることを確認の上で、利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、その旨を利用者に通知します（訂正等を行わない旨の決定をしたときは、利用者に対しその旨を通知いたします）。但し、個人情報保護法その他の法令により、当社が訂正等の義務を負わない場合は、この限りではありません。</p>
		<h2>10.	 個人情報の利用停止等</h2>
		<p>本サービスは、利用者から、利用者の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下、「利用停止等」といいます）を求められた場合において、そのご請求に理由があることが判明した場合には、利用者ご本人からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等を行い、その旨を利用者に通知します。但し、個人情報保護法その他の法令により、当社が利用停止等の義務を負わない場合は、この限りではありません。</p>
		<h2>11. 法令並びにその他の規範の遵守</h2>
		<p>本サービスは個人情報保護の為、事業に関連した各種法令、国が定める指針、並びにその他関係する規範等を遵守いたします。また、個人情報保護法並びに各種法令・国が定める指針・その他の規範などは、常に最新版を入手し、改正・改訂などが行われた場合、その改正・改訂などに合わせた対応を行います。</p>
		<h2>12. CookieやWeb Storage、その他の技術の利用</h2>
		<p>本サービスは、CookieやWeb Storage及びこれに類する技術を利用することがあります。これらの技術は、本サービスの利用状況等の把握に役立ち、サービス向上に資するものです。CookieとWeb Storageを無効化されたいユーザーは、ウェブブラウザの設定を変更することにより無効化することができます。但し、CookieやWeb Storageを無効化すると、本サービスの一部の機能をご利用いただけなくなる場合があります。</p>
		<h2>13.	継続的改善</h2>
		<p>本サービスは、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。</p>
		<h2>14. 個人情報に関するお問い合わせ</h2>
		<p>個人情報の取り扱いに関する苦情・相談へ対応するため、組織体制を整備し、迅速かつ適切な対応に努めます。本プライバシーポリシーに関してご不明な点がある場合、本サービスにおける個人情報の取り扱いに関するご質問・苦情・ご相談等があります場合はお問い合わせフォームよりご連絡ください。</p>
		<p class="end">以上</p>
		<p class="end">2014年3月20日 制定</p>
	</div>
</div>