<div class="view" ng-init="initialize()">
	<h2 ng-repeat="category in content.post.categories">
		{{category.name}}
	</h2>
	<div class="basic">
		<p class="title">{{content.post.title}}</p>
		<div class="info">
			<div class="thumbnail">
				<img ng-src="{{content.post.thumb}}" alt="">
			</div>
			<div class="description">
				<p>{{content.post.desc}}</p>
			</div>
		</div>
		<div class="action">
			<div class="like-wrap">
				<span class="like-btn" ng-click="sendLike()" ng-hide="content.post.liked"></span>
				<span class="unlike-btn" ng-click="sendUnLike()" ng-show="content.post.liked"></span>
				<span class="like-count">{{content.post.like_count}}</span>
			</div>
			<span class="add-favorite-btn" ng-click="addFavorite()" ng-hide="content.post.favorited"></span>
			<span class="remove-favorite-btn" ng-click="removeFavorite()" ng-show="content.post.favorited"></span>
		</div>
	</div>
	<div class="content">
		<div ng-repeat="content in content.post.contents track by $index" class="body">
			<div ng-switch on="content.content_type.name">
				<div class="headline" ng-switch-when="header">
					<h3 ng-repeat="detail in content.content_details">
						{{detail.text}}
					</h3>
				</div>
				<div class="video" ng-switch-when="video">
					<iframe ng-repeat="detail in content.content_details" id="iframe{{detail.id}}" ng-src="{{appendSrc(detail.text)}}"></iframe>
				</div>
				<div class="text" ng-switch-when="text">
					<p ng-repeat="detail in content.content_details">
						{{detail.text}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="tags">
		<ul>
			<li ng-repeat="tag in content.post.tags">
				{{tag.name}}
			</li>
		</ul>
	</div>
	<h2>コメント</h2>
	<div class="comments">
		<div class="comment" ng-repeat="comment in content.post.comments track by $index">
			<div class="meta">
				<div class="number">
					<p>{{$index + 1}}</p>
				</div>
				<div class="dates">
					<p>{{comment.created_at | date:'yyyy年MM月dd日'}}</p>
				</div>
			</div>
			<div class="message">
				<p>{{comment.text}}</p>
			</div>
		</div>
		<div class="comment-input">
			<textarea ng-model="comment_body"></textarea>
			<div class="comment-btn" ng-click="postComment()">
				送信
			</div>
		</div>
	</div>
</div>
